<!DOCTYPE html>
<html>

<head>
  <% include ../templates/head.ejs %>
</head>

<body>
    <div class="form">
        <div class="form-header">
            <h1>ERROR!</h1>
            <p>Something went wrong?!?!</p>
        </div>
        <div class="form-elements">
          <% if(message.length) { %>
            <div class="alert alert-danger">
              <%= message %>
            </div>
          <%} else {
            %>
            <div class="alert alert-danger">
              Something went wrong, oops!
            </div>
            <%
          }%>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>

</html>
