<!DOCTYPE html>
<html>

<head>
  <% include ../templates/head.ejs %>
</head>

<body>
    <div class="form">
        <div class="form-header">
            <h1>OLDFIELD SCHOOL</h1>
            <p>Login to Oldfield School Parents Evening Software</p>
        </div>
        <div class="form-elements">
            <form method="post" action="/api/forgot_password">
                <div class="form-group" ac>
                    <label>Email </label>
                    <input class="form-control" type="text" id="email" placeholder="Enter email address..." name="email">
                </div>
            <button class="btn btn-default" type="submit" style="font-size:18px;text-shadow:none">SEND ME A EMAIL!</button>
            </form>
            <div>
                <p><a href="/">Log in to your Account</a> </p>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>

</html>
