<%
var avaliable_times = JSON.stringify(times);
var avaliable_types = JSON.stringify(types);
var user_id = user._id;
var report_data_js = JSON.stringify({
  teacher: report.teacher,
  student: report.student,
  class: report.class
});
var data_u = data;
var arr = [];
for(var i=0; i < data_u.length; i++) {
  obj = data_u[i];
  obj_string = JSON.stringify(obj);
  arr.push(obj_string);
} %>
<!DOCTYPE html>
<html>

  <% include ../templates/head.ejs %>
</head>

<body>
    <div id="wrapper">
        <div id="sidebar-wrapper">
            <div class="avatar-content">
              <% include ../templates/avatar.ejs %>
            </div>
            <div class="navigation-bar">
                <% include ../templates/nav.ejs %>
                <% if(admin && admin == true) { %>
                  <% include ../templates/admin_nav.ejs %>
                <% }  %>
            </div>
        </div>
        <div class="page-content-wrapper">
            <div id="nav-top-bar" class="nav-top-bar">
                <div class="row" id="nav-top-bar-row">
                    <div class="col-md-8" id="titles">
                        <h1 class="nav-top-bar-header">Reports </h1>
                        <p class="nav-top-bar-para">Welcome to the Home of Oldfield's Parents Evening Application</p>
                    </div>
                    <div class="col-md-4 nav-top-bar-buttons" id="buttons">
                        <button class="btn btn-default" type="button" id="bookappointmentbutton"><i class="glyphicon glyphicon-plus"></i>Book an Appointment</button>
                        <button class="btn btn-default" type="button" id="parentseveningbooking"><i class="glyphicon glyphicon-plus"></i>Parents Evening Booking</button>
                    </div>
                </div>
            </div>
            <div id="main-content-area" class="main-content-area">
                <div class="container-fluid">
                    <div id="main-content-header-account" class="main-content-area-header" style="margin-bottom:0">
                        <h1 class="main-content-area-header-heading">Reports </h1>
                        <p class="main-content-area-header-para">Report for '<span id="student_title">n/a</span>', Subject: '<span id="class_title">n/a</span>'</p>
                    </div>
                    <div id="main-content-area-children">
                        <div class="main-content-area-inside-account">
                            <div class="row">
                              <%
                              var date = moment(report.created_at).format("Do of MMMM YYYY");
                              %>
                                <div class="col-md-4">
                                    <h4 class="report-details-heading">Participants </h4>
                                    <div id="participant-1" class="participant">
                                        <h4 id="teacher" class="participant-title">N/A</h4>
                                        <p class="participant-type">TEACHER </p><a href="/main/view_profile/<%= report.teacher %>" class="participant-link"><i class="glyphicon glyphicon-user"></i>View Profile</a></div>
                                    <div id="participant-3" class="participant">
                                        <h4 id="student" class="participant-title">N/A</h4>
                                        <p class="participant-type">STUDENT </p><a href="/main/view_student/<%= report.student %>" class="participant-link"><i class="glyphicon glyphicon-user"></i>View Profile</a></div>
                                </div>
                                <div class="col-md-8">
                                    <h4 class="report-details-heading">Details </h4>
                                    <p class="report-details">Created: <%= date %></p>
                                    <p class="report-details">Grade: <%= report.grade %></p>
                                    <p class="report-details">Target Grade: <%= report.target_grade %></p>
                                    <hr />
                                    <p class="report-details">Comments:</p>
                                    <p class="report-info"><%= report.description %></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <% include ../templates/modals/api.ejs %>
    <% include ../templates/modals/view_report.ejs %>
</body>

</html>
